.Search {
  padding: 0 5px;
}

.Search .row {
  margin: 0 auto;
}

.Search .column {
  padding: 0 5px;
}

::placeholder {
  font-size: 15px;
  padding: 0 0 0 30px;
  color: #ffffff;
}

/* .Search .fa-search {
  position: absolute;
  left: 25px;
  top: 20px;
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
} */

.Search form {
  display: flex;
  padding: 0 !important;
}

.Search .Input {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #001462;
  border: none;
  border-radius: 10px;
}

.Search .SearchButton {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-align: center !important;
  color: #ffffff;
  background-color: #001462;
  border: none;
  border-radius: 10px;
}

.Search .CurrentLocation {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-align: center !important;
  color: #001462;
  background-color: #ffffff;
  border-style: solid;
  border-color: #001462;
  border-radius: 10px;
}

/* .Search .Degrees {
  width: 100%;
  height: 50px;
  font-size: 14px;
  padding: 15px 20px;
  color: #ffffff;
  background-color: #001462;
  border: none;
  border-radius: 10px;
} */

/* .Search .fa-location-arrow {
  position: absolute;
  left: 25px;
  top: 20px;
  padding: 5px;
  color: #ffffff;
  font-size: 13px;
} */
